.container {
    margin: 20px auto;
    text-align: center;
}

.buttons {
    width: 100%;
    height: 50%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: darkgreen;
}

.timer,
.question,
.results,
.gif-screen,
.start-button,
.restart-button {
    color: darkgreen;
    text-align: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.question {
    width: 700px;
}

.winGif,
.loseGif,
.endGif {
    width: 300px;
    height: 200px;
}

.wallpaper {
    background-color: rgb(240, 223, 202);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

.timer {
    color: darkgreen;
}

.scoreboard {
    color: darkgreen;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
    margin-left: 35%;
}

p {
    width: 100%;
    font-size: 20px;
}